.project-nav {
    position: fixed;
    left: .5rem;
    top: 30%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.project-container {
    position: relative;
    height: 2rem;
}

.project-button {
    background: none;
    border: none;
    font-family: monospace;
    font-size: 1rem;
    cursor: pointer;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: 0 0;
    white-space: nowrap;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    width: auto;
    text-align: left;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.project-button:hover {
    opacity: 1;
}

.description-container {
    position: fixed;
    top: 4rem;  
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    width: 80%;
    max-width: 800px;
    animation: scanlines 1s linear infinite;
}

.description-container.active {
    opacity: 1;
    animation: scanEffect 0.5s linear forwards, scanlines 1s linear infinite;
}

.project-description {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
}

@keyframes scanEffect {
    0% {
        clip-path: inset(100% 0 0 0);
        opacity: 0;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes scanlines {
    0% {
        background: linear-gradient(
            to bottom,
            transparent 50%,
            rgba(128, 128, 128, 0.02) 50%
        );
        background-size: 100% 4px;
        background-position: 0 0;
    }
    100% {
        background: linear-gradient(
            to bottom,
            transparent 50%,
            rgba(128, 128, 128, 0.02) 50%
        );
        background-size: 100% 4px;
        background-position: 0 4px;
    }
}



/*TESTING*/
